.navbar-nav > li{
    margin-left:15px;
    margin-right:15px;
  }

  .active{
    font-weight: bold;
    background:linear-gradient(108deg, #FE781E,#F34242) left bottom  no-repeat;
    background-size:40% 0.15rem;
  }

  .nav-link {
    padding-left: 0!important;
    padding-bottom: 0.25rem!important;
    margin-right: 1rem!important;
  }

  .nav-custom{
    box-shadow: none;
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all .5s ease;
  }

  .sticky{
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.1);
    background-color: #fff!important;
  }

  .navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.65)!important;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  .nav-custom{
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.1);
    background-color: #fff!important;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all .5s ease;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
  .nav-custom{
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.1);
    background-color: #fff!important;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all .5s ease;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}