<!--web-->
<div class="footer-box">
  <div class="container">
    <div class="row py-4">
      <div class="col-md-3 text-left d-none d-md-block">
        <img class="footer-logo" src="assets/footer/logo.svg">
      </div>
      <div class="col-md-6 d-none d-md-block">
        <ul class="footer-menu">
          <li class="">
            <a class="" href="#about">About</a>
          </li>
          <img src="assets/footer/ellipse.svg">
          <li class="">
            <a class="" href="#services">Services</a>
          </li>
          <img src="assets/footer/ellipse.svg">
          <li class="">
            <a class="" href="#works">Works</a>
          </li>
          <img src="assets/footer/ellipse.svg">
          <li class="">
            <a class="" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 text-right footer-mob-center">
        <span class="copyright">@2020 the_art_miracle</span>
      </div>
    </div>
  </div>
</div>
<!--mobile-->