.footer-box{
    background: #fafafa;
}

.footer-menu{
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-evenly;
}

.footer-menu li a{
    color: black;
}

.footer-logo{
    height: 28px;
}

.copyright{
    font-size: 16px;
    color: #787878;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .footer-menu{
        flex-direction: column;
       
    }

    .footer-menu li a{
        padding: 18px;
        font-size: 17px
    }

    .footer-mob-center{
        text-align: center!important;
    }

    }

  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) { 
    .footer-menu{
        flex-direction: column;
       
    }

    .footer-menu li a{
        padding: 18px;
        font-size: 17px
    }

    .footer-mob-center{
        text-align: center!important;
    }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) { 
    
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) { 
  
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) { 
  
  }