<div class="section-two py-4">
  <div class="container">
    <div class="row my-3">
      <div class="col-md-5 col-sm-12 text-right">
        <img src="assets/lakshmi12.png" style="width: 80%; height: auto;" class="col-md-12">
      </div>
      <div class="col-md-7 col-sm-12 section-two-text">
        <div class="text-left">
          <span class="section-two-text-heading">ABOUT ME</span>
        </div>
        <div class="sub-heading1 text-left pt-3">Lorem ipsum is placeholder text</div>
        <span class="about-me-text py-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo
          consequat. Lorem ipsum dolor sit amet.</span>
        <div class="text-left">
          <img src="assets/about/signature.svg">
        </div>
      </div>
    </div>
  </div>
</div>