<div class="container section-one">
    <div class="row">
      <div class="col-md-7 col-sm-12 section-one-text">
        <div class="text-left">
          <label class="hi-class">Hi There !</label>
          <h1 class="section-one-head">Convert your moments <br> to a &nbsp;<span class="text-gradient">Digital Art</span></h1>
        </div>
        <div class="text-right logo">
          <img src="assets/top/the_art_miracle.svg">
        </div>
      </div>
      <div class="col-md-5 col-sm-12 hero-box text-center">
        <img src="assets/Hiran.png" class="img-fluid image1">
      </div>
    </div>
    <div class="about-ref">

    </div>
  </div>

