.video{
    background-image: url('https://theartmiracle.com/assets/video/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.video-text{
    font-size: 30px;
    color: white;
}

.youtube-text{
    font-size: 20px;
    color: white;
    opacity: 0.6;
    font-weight: 500;
}

.video-text-box{
    margin: auto;
    text-align: center;
}

.video-underline{
    background:linear-gradient(108deg, white,white) bottom  no-repeat;
    background-size:100% 0.15rem;
    padding-bottom: 5px;
}

.frame{
    border-radius: 9px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .video-mob-left{
        text-align: left!important;
    }
  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) { 
    .video-mob-left{
        text-align: left!important;
    }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) { 
    
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) { 
  
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) { 
  
  }