<div class="row video mt-5 py-2">
    <div class="col-md-6 video-text-box">
        <div class="text-right video-mob-left">
            <div class="d-none d-md-block">
                <img src="assets/video/art.svg">
            </div>
            <div class="video-text pt-4">How I do Digital <br>
                <label class="video-underline">Painting on Photoshop?</label>
            </div>
            <div class="youtube-text pt-3 d-none d-md-block">View on Youtube
                <img class="pl-2" src="assets/video/right-arrow.svg">
            </div>
        </div>
    </div>
    <div class="col-md-6 px-4 pt-4 pb-3">
        <iframe class="frame" width="100%" src="https://www.youtube.com/embed/HDtT7IbG0nw" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </div>
</div>