.video{
    background-image: url('/assets/video/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.video-text{
    font-size: 30px;
    color: white;
}

.youtube-text{
    font-size: 20px;
    color: white;
    opacity: 0.6;
    font-weight: 500;
}

.video-text-box{
    margin: auto;
    text-align: center;
}

.video-underline{
    background:linear-gradient(108deg, white,white) bottom  no-repeat;
    background-size:100% 0.15rem;
    padding-bottom: 5px;
}

.frame{
    border-radius: 9px;
}