<div class="container contact">
    <div class="text-center">
        <label class="sub-heading">Ping me for an art!</label>
    </div>

    <br>
    <div class="row contact-box">
        <div class="contact-left col-md-6 col-sm-6 px-4 d-none d-md-block">
            @the_art_miracle
            <img class="pl-3" src="assets/contact/instagram.svg">
            <br> <br>
            +9400840617 <img class="pl-3" src="assets/contact/whatsapp.svg">
        </div>
        <div class="contact-right col-md-6 col-sm-6 px-4 d-block d-md-none">
            <img class="pr-3" src="assets/contact/instagram.svg">
            @the_art_miracle
            <br> <br>
            <img class="pr-3" src="assets/contact/whatsapp.svg">
            +9400840617
            <br> <br>
        </div>
        <div class="contact-right col-md-6 col-sm-6 px-4">
            <img class="pr-3" src="assets/contact/facebook.svg"> @the_art_miracle <br> <br>
            <img class="pr-3" src="assets/contact/gmail.svg"> theartmiracle@gmail.com
        </div>
    </div>
    <br>
    <div class="row">

        <div class="offset-md-1 col-md-10 col-sm-12 contact-mob-pad-0">
            <div class="row">
                <div class="offset-md-2 col-md-8 col-sm-12">
                    <img src="assets/contact/Intersection 1@2x@2x.png" width="100%">
                    <div class="centered">
                        <div class="centered-text">
                            Stay in touch with us
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>