<div class="gallery">
    <div class="col-md-12">
        <div class="outer">
            <div class="inner">
                <h1 class="myWorksHeading">My Works</h1>
            </div>
        </div>
    </div>
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Family Sketch">
            <ng-template matTabContent>
                <ngx-masonry-gallery [width]='300' [images]='images'></ngx-masonry-gallery>
            </ng-template>
        </mat-tab>
        <mat-tab label="Caricature">
            <ng-template matTabContent>
                <ngx-masonry-gallery [width]='300' [images]='images'></ngx-masonry-gallery>
            </ng-template>
        </mat-tab>
        <mat-tab label="Portraits">
            <ng-template matTabContent>
                <ngx-masonry-gallery [width]='300' [images]='images'></ngx-masonry-gallery>
            </ng-template>
        </mat-tab>
        <mat-tab label="Save The Date">
            <ng-template matTabContent>
                <ngx-masonry-gallery [width]='300' [images]='images'></ngx-masonry-gallery>
            </ng-template>
        </mat-tab>
        <mat-tab label="Theme Based Art">
            <ng-template matTabContent>
                <ngx-masonry-gallery [width]='300' [images]='images'></ngx-masonry-gallery>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>