.myWorksHeading{
    text-align: center;
    
}
.myWorksHeading:after{
    content: "";
    height: 3px;
    width: 50px;
    background-color: #FF6A04;
    position: absolute;
    bottom: -.2em;
    left: 50%;
    transform: translate(-50%);
}

.outer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery{
    padding: 5%;
}

.mat-tab-nav-bar, .mat-tab-header {
    border-bottom:none !important;
    padding-bottom: 20px;
}

 .mat-ink-bar {
    display:none !important;
}

.gallery-container{
    min-height: 500px;
}
    