.section-two{
    background-color: #F6F6F6;
}

.section-one{
    padding-top: 70px;
}

.section-one-text{
    margin: auto;
    text-align: center;
}

.section-two-text{
    margin: auto;
    text-align: center;
}

.section-two-text-heading{
    text-decoration: underline;
    text-decoration-color: orange;
}

.about-me-text{
    float: left;
    text-align: left;
    font-size: 15px;
}

.overlap{
    position: relative;
     left: 0;
      top: 0;
}

.image1{
      position: relative;
      top: 0;
      left: 0;
    }
.image2 {
    position: absolute;
    top: 0px;
    left: 0px;
    }