<!--loader-->
<div *ngIf="showLoader" class="text-center">
  <div style="padding-top: 35vh;">
    <img src="assets/loader.svg">
  </div>
</div>

<div *ngIf="!showLoader">
  <!-- Header -->
  <div class="container">
    <app-header></app-header>
  </div>

  <div>
    <!--Hero section-->
    <div class="">
      <app-hero></app-hero>
    </div>

    <!--About section-->
    <div class="container-fluid px-0" id="about">
      <app-about></app-about>
    </div>

    <!-- Services Offered -->
    <div class="container" id="services">
      <app-services></app-services>
    </div>

    <!-- gallery -->
    <div class="container" id="works">
      <app-gallery></app-gallery>
    </div>

    <!-- Painting Video -->
    <div class="container" id="paintingVideo">
      <app-video></app-video>
    </div>

    <!-- contact -->
    <div class="container" id="contact">
      <app-contact></app-contact>
    </div>

    <!-- footer -->
    <div class="container">
      <app-footer></app-footer>
    </div>
  </div>
</div>