<html>
<!-- header -->

<head>
</head>

<body>
  <app-header></app-header>


  <div class="container section-one">
    <div class="row">
      <div class="col-md-7 col-sm-12 section-one-text">
        Hi There!
        <h1>Convert your moments <br> to a Digital Art</h1>
      </div>
      <div class="col-md-5 col-sm-12">
        <img src="assets/Hiran.png" class="col-md-12">
      </div>
    </div>
  </div>

  <div class="container-fluid section-two">
    <div class="container" id="about">
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <img src="assets/lakshmi.jpg" class="col-md-12">
        </div>
        <div class="col-md-7 col-sm-12 section-two-text">
          <h2 class="section-two-text-heading">ABOUT ME</h2><br>Thanks for visiting my page
        </div>
      </div>
    </div>
  </div>

  <div class="container" id="services">

  </div>

  <div class="container" id="works">

  </div>

  <div class="container" id="paintingVideo">

  </div>

  <div class="container" id="contact">

  </div>

  <!-- footer -->
  <app-footer></app-footer>
</body>

</html>